html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #80808030;
}
li:nth-child(even) {
  background: #ffffff;
}
li a {
  cursor: pointer;
}

.root-container {
  padding: 0 10px;
  width: 200px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidePanelControl {
  cursor: pointer;
}
